div.a {
    text-align: center;
  }

  p1 {
    font-family: "Lucida Console", "Courier New", monospace; font-size: 1.25em; text-align: center;
  }
  p2 {
    font-family: "Lucida Console", "Courier New", monospace; font-size: 0.8em; text-align: center;
  }
  p3 {
    font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em;
  }
  p4 {
    font-family: "Lucida Console", "Courier New", monospace; font-size: 0.875em; color:red;
    }
  p5 {
    font-family: "Lucida Console", "Courier New", monospace; font-size: 0.7em;
    }