<!DOCTYPE html>
<html>
<head>
    <title>Create RFC</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
    <div class ="a"><p1>Create Request for Comments</p1></div>
    <form method="post">
        <p3>Enter RFC Title</p3><br>
        <input type="text" name="title"
        placeholder="RFC Title"
        value="{{ request.form['title'] }}"></input>
        <br>
        <p3>Enter RFC Author(s)</p3><br>
        <input type="text" name="author"
        placeholder="RFC Author(s)"
        value="{{ request.form['author'] }}"></input>
        <br>
        <p3>Enter RFC refences</p3><br>
        <p5>Separate RFC numbers with commas or type "None" without quotes.</p5><br>
        <input type="text" name="references"
        placeholder="List of RFC numbers"
        value="{{ request.form['references'] }}"></input>
        <br>
        <p3>Enter RFC Body</p3><br>
        <textarea name="body" placeholder="RFC Body">{{ request.form['body'] }}</textarea>
        <br><p4>{{ error }}</p4><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
