<!DOCTYPE html>
<html>
<head>
<title>RFC Host</title>
<link rel="stylesheet" href={{style}}>
</head>
<body><div class ="a">
<p1>Welcome to RFC Host</p1><br>
<p2>Here you can put out RFC's and see them in the the wild</p2><br></div>
<p3>What's an RFC? <br> <a href = "rfc">An explanation</a></p3><br>
<p3>Click the button below to create a new RFC<br><a href="create">Create New!</a></p3>
</body>
</html>