<!DOCTYPE html>
<html>
<head>
<title>RFC's Explained</title>
<link rel="stylesheet" href={{style}}>
</head>
<body>
<p3>RFC is short for request for comments. In the old'en days, people creating the internet would put out RFCs to get feedback on 
their ideas. This kind of thing evolved to <a href = 'https://www.rfc-editor.org/'>rfc-editor.org/</a>
which is a proper source of internet RFCs. This web app is a much worse version of that. Mostly meant for me to submit things, and
have a link I can send to people where they can in turn send more RFCs to respond. For more info of RFC and the evolution of the
internet, check out <a href = 'https://en.wikipedia.org/wiki/Request_for_Comments'>wikipedia.org/wiki/Request_for_Comments</a>.
<br><a href = '/'>Return</a></p3>
</body>
</html>
